*{
  margin : 0 ; 
  padding : 0 ; 
  box-sizing : border-box ;
}
body{
  color : white ; 
  font-family: 'Jost';
}
/* For the whole page */
html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-track {
  background: transparent ;
}

html::-webkit-scrollbar-thumb {
  background-color: red ;
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb:hover {
  background: #555 ;
}
